body{
    font-family: 'Heebo', sans-serif !important;
}

/* -------------------------------------- */
/* -------------   HEADER   ------------- */
/* -------------------------------------- */

.header {
    background-color: rgb(224, 26, 0);
}

.header img {
    width: 400px;
    height: 60px;
    margin: 10px auto;
    object-fit: contain;
}

.header .row div:nth-of-type(1){
    color: white;
    align-self: flex-end;
    margin-bottom: 5px;
}

.header .row div:nth-of-type(2){
    display: flex;
    justify-content: center;
}

.header .row div:nth-of-type(3){
    display: flex;
    color: white;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0;
}

.header div p{
    margin: 10px 5px;
}

.header div button{
    background-color: white;
    color: rgb(224, 26, 0);
    margin: 0 20px 10px;
    border: none;
    padding: 5px 10px !important;
    height: 40px;
}

/* -------------------------------------- */
/* ---------   NAVIGATION MENU   -------- */
/* -------------------------------------- */

.nav-menu{
    border-bottom: 1px solid rgb(228, 228, 228);
}

.nav-menu-item {
    margin: 10px 0;
    max-width: 200px;
}

.nav-menu a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.nav-menu a:hover{
    color: rgb(224, 26, 0);
    text-decoration: none;
}

.border-right{
    border-right: 1px solid gray;
    padding: 0 10px 0 5px;
}

#search{
    max-width: 100px;
    border: none;
    align-self: center;
}

/* -------------------------------------- */
/* -----------   MAIN NEWS   ------------ */
/* -------------------------------------- */

/* -----------  LEFT CONTAINER  ----------*/

.title{
    color: gray;
    font-size: 16px;
    margin: 10px 0;
}

.news-container{
    margin-bottom: 10px;
}

.news-container img {
    width: 100%;
}

.border-bottom{
    border-bottom: 1px solid rgb(228, 228, 228);
}

.border-top{
    border-top: 1px solid rgb(228, 228, 228);
    margin-bottom: 25px;
}

.news-content h3 a{
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.news-content h3 a:hover{
    text-decoration-color: rgb(224, 26, 0);
}

.news-content h3{
    line-height: 24px;
    margin: 5px 0;
}

.news-content h5{
    font-size: 16px;
}

.other-news{
    padding: 8px 0 4px;
}

.other-news h5 a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.other-news h5 a:hover{
    color: rgb(224, 26, 0);
    text-decoration: none;
}

/* -----------  MIDDLE CONTAINER  ----------*/

.stories-news{
    display: flex;
    padding: 5px 0 15px;
    margin-top: 5px;
}

.stories-news div:nth-of-type(2){
    margin-left: 10px;
}

.stories-news a {
    color: black;
    font-weight: bold;
    font-size: 16px
}

.more-stories-text{
    margin-left: 0 !important;
    font-size: 14px;
}

.stories-news a:hover{
    color: black;
    text-decoration-color: rgb(224, 26, 0);
}

/* -----------  RIGHT CONTAINER  ----------*/

.opinion{
    display: flex;
    padding-bottom: 5px;
    margin: 5px 0;
}

.opinion img{
    width: 65px;
    margin-right: 5px;
    padding-top: 5px; 
}

.article-title a{
    font-weight: bold;
    font-size: 16px;
    color: black;
    line-height: 16px;
}

.article-title a:hover{
    color: rgb(224, 26, 0);
    text-decoration: none;
}

.latest-news{
    display: flex;
    margin: 5px 0;
    padding: 5px 0;
}

.latest-news img {
    width: 105px;
    margin-right: 5px;
}

/* -------------------------------------- */
/* -----------   OTHER NEWS   ----------- */
/* -------------------------------------- */

.in-the-magazine img{
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.top-text {
    display: flex;
    margin: 10px 0;
}

.top-text div:nth-of-type(1){
    padding: 0px 10px;
    background-color: rgb(224, 26, 0);
    color: white;
    margin-right: 10px;
}

.top-text div:nth-of-type(2){
    color: rgb(224, 26, 0);
    font-weight: bold;
}

.article-title-2 a {
    font-weight: bold;
    font-size: 24px;
    color: black;
    line-height: 16px;
}

.article-title-2 a:hover{
    color: black;
    text-decoration-color: rgb(224, 26, 0);
}

.other-article-news-item {
    margin: 10px 0;
}

.title-2{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.editors-pick img{
    width: 240px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.other-article-news-item div p{
    font-size: 14px;
}

.featured-slideshows img{
    margin: 10px 0;
    width: 350px;
    height: auto;
}

@media only screen and (max-width: 992px){
    
    /* -------------------------------------- */
    /* -------------   HEADER   ------------- */
    /* -------------------------------------- */
    
    .header .row div:nth-of-type(1){
        display: none;
    }

    .header .row div:nth-of-type(2){
        display: flex;
        justify-content: flex-start;
    }

    .header img {
        width: 130px;
        height: 20px;
        margin: 5px 0;
    }

    .header .row div:nth-of-type(3){
        align-self: center;
        margin: 0;
        font-size: 12px;
    }

    .header div button{
        margin: 0 10px;
        height: 20px;
        padding: 2px 5px !important;
        align-self: center;
    }

    /* -------------------------------------- */
    /* ---------   NAVIGATION MENU   -------- */
    /* -------------------------------------- */

    .nav-menu{
        display: none;
    }

    /* -------------------------------------- */
    /* -----------   MAIN NEWS   ------------ */
    /* -------------------------------------- */

    .main-news-middle .other {
        display: none;
    }

}

@media only screen and (max-width: 768px){

    .stories-news img,
    .latest-news img {
        width: 258px;
    }

    .other {
        display: none;
    }
    .other-article-news img{
        width: 100%;
        height: auto;
    }
}