body{
    font-family: 'Heebo', sans-serif !important;
}

/* -------------------------------------- */
/* -------------   HEADER   ------------- */
/* -------------------------------------- */

.header {
    background-color: rgb(224, 26, 0);
}

.header img {
    width: 400px;
    height: 60px;
    margin: 10px auto;
    object-fit: contain;
}

.header .row div:nth-of-type(1){
    color: white;
    align-self: flex-end;
    margin-bottom: 5px;
}

.header .row div:nth-of-type(2){
    display: flex;
    justify-content: center;
}

.header .row div:nth-of-type(3){
    display: flex;
    color: white;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0;
}

.header div p{
    margin: 10px 5px;
}

.header div button{
    background-color: white;
    color: rgb(224, 26, 0);
    margin: 0 20px 10px;
    border: none;
    padding: 5px 10px !important;
    height: 40px;
}

/* -------------------------------------- */
/* ---------   NAVIGATION MENU   -------- */
/* -------------------------------------- */

.nav-menu{
    border-bottom: 1px solid rgb(228, 228, 228);
}

.nav-menu-item {
    margin: 10px 0;
    max-width: 200px;
}

.nav-menu a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.nav-menu a:hover{
    color: rgb(224, 26, 0);
    text-decoration: none;
}

.border-right{
    border-right: 1px solid gray;
    padding: 0 10px 0 5px;
}

#search{
    max-width: 100px;
    border: none;
    align-self: center;
}

@media only screen and (max-width: 992px){
    
    /* -------------------------------------- */
    /* -------------   HEADER   ------------- */
    /* -------------------------------------- */
    
    .header .row div:nth-of-type(1){
        display: none;
    }

    .header .row div:nth-of-type(2){
        display: flex;
        justify-content: flex-start;
    }

    .header img {
        width: 130px;
        height: 20px;
        margin: 5px 0;
    }

    .header .row div:nth-of-type(3){
        align-self: center;
        margin: 0;
        font-size: 12px;
    }

    .header div button{
        margin: 0 10px;
        height: 20px;
        padding: 2px 5px !important;
        align-self: center;
    }

    /* -------------------------------------- */
    /* ---------   NAVIGATION MENU   -------- */
    /* -------------------------------------- */

    .nav-menu{
        display: none;
    }
}